/* G L O B A L */

.header{
  padding: 3rem 5rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
}




/* H E A D E R */

.login__button{
  float: right;
  width: 250px;
  padding: 10px 25px;
  font-size: 1.1rem;
  background: inherit;
  color: inherit;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dashboard__button{
  display: block;
  float: right;
  width: 150px;
  padding: 12px 30px;
  font-size: 1.1rem;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  text-align: center;
}